
@model vms.Models.VolunteerViewModel

@{
    ViewData["Title"] = "Manage your Volunteers";
}

<form asp-controller="Volunteer" asp-action="Search" method="post">
    <p>
        Search: <input type="text" name="LastName" />
        <input type="submit" value="Search" />
    </p>
</form>

<form asp-controller="Volunteer" asp-action="Filter" method="post">
    @Html.DropDownList("Status", new List<SelectListItem>
   {
       new SelectListItem{
           Text ="Approved/Pending", Value="1"},
       new SelectListItem
            {
                Text = "Approved", Value = "2"},
        new SelectListItem
        {
            Text ="Pending", Value = "3"},
        new SelectListItem
        {
            Text="Disapproved", Value = "4"},
        new SelectListItem
        {
            Text ="Inactive", Value ="5"},

        })
    <input type="submit" value="Filter" />
</form>

<div class="panel panel-default">

    <div class="text-center">
        <a asp-action="Create" asp-controller="Volunteer" class="btn btn-primary">Add</a>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <td>&#x2714;</td>
                <td>FirstName</td>
                <td>LastName</td>
            </tr>
        </thead>


        @foreach (var item in Model.Volunteers)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>
                    <form asp-action="Delete" asp-controller="Volunteer" method="post">
                        <a asp-action="Edit" asp-controller="Volunteer" asp-route-Id="@item.Id"> Edit </a>
                        <input type="hidden" name="Id" value="@item.Id" />
                        <button type="submit" class="btn btn-danger">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    </table>
</div>

